.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: "Roboto Mono", sans-serif;
  margin-right: 1rem;
  margin-left: 1rem;
}

.button:hover {
  font-size: 1.2rem;
  text-shadow: 2px 2px #6b6c6e;
  transition: all 500ms;
}
