.wrapper {
  background-color: #252527;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  position: fixed;
  width: 100%;
  padding: 0 3rem;
}

.buttonWrapper {
  flex-grow: 1;
  text-align: center;
}

.logo {
  margin: 0 1rem;
}

.logo:hover {
  cursor: pointer;
}
